<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.dao.ExceptionLogMapper">
  <resultMap id="BaseResultMap" type="com.stock.model.ExceptionLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="className" property="classname" jdbcType="NVARCHAR" />
    <result column="methodName" property="methodname" jdbcType="NVARCHAR" />
    <result column="exception" property="exception" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.stock.model.ExceptionLog" extends="BaseResultMap" >
    <result column="stackTrace" property="stackTrace" jdbcType="LONGVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.stock.model.ExceptionLog" >
    insert into exception_log (date, className, methodName, exception,stackTrace)
    values (#{date,jdbcType=VARCHAR}, #{classname,jdbcType=NVARCHAR}, 
      #{methodname,jdbcType=NVARCHAR}, #{exception,jdbcType=NVARCHAR},#{stackTrace,jdbcType=LONGVARCHAR})
  </insert>
</mapper>