<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		">
<!-- http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd
 -->
	<!-- 引入数据库属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />	
	<!-- 扫描注解 -->
    <context:component-scan base-package="com.stock.service,com.stock.util" /> 
       
    <!-- 定义工作类 -->
    <bean id="downloadBase" class="com.stock.task.DownloadBase"></bean>
    <bean id="downloadDetail" class="com.stock.task.DownloadDetail"></bean>
    <bean id="downloadCjmx" class="com.stock.task.DownloadCjmx"></bean>
    <bean id="downloadPerDay" class="com.stock.task.DownloadPerDay"></bean>
    
	<!-- 配置调度器工厂(SchedulerFactoryBean) -->
	<bean name="startQuertz"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- <ref bean="downloadBaseTrigger" />
				<ref bean="downloadBaseTrigger1" /> -->
				<ref bean="downloadDetailTrigger" />
				<ref bean="downloadDetailTrigger1" />
				<!-- <ref bean="downloadCjmxTrigger" />
				<ref bean="downloadCjmxTrigger1" /> -->
				<ref bean="downloadPerDayTrigger" />
			</list>
		</property>
	</bean>

	<!-- 配置Cron触发器(CronTriggerFactoryBean) -->
	<bean id="downloadBaseTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="downloadBaseDetail" />
		</property>
		<property name="cronExpression">
 			<value>0 30 9 * * ?</value> 
		</property>
	</bean>
	<bean id="downloadBaseTrigger1"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="downloadBaseDetail1" />
		</property>
		<property name="cronExpression">
 			<value>10 0 13 * * ?</value>
		</property>
	</bean>
	<bean id="downloadDetailTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="downloadDetailDetail" />
		</property>
		<property name="cronExpression">
 			<value>30 30 9 * * ?</value>
		</property>
	</bean>
	<bean id="downloadDetailTrigger1"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="downloadDetailDetail1" />
		</property>
		<property name="cronExpression">
 			<value>30 0 13 * * ?</value> 
		</property>
	</bean>
	<bean id="downloadCjmxTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="downloadCjmxDetail" />
		</property>
		<property name="cronExpression">
 			<value>20 30 9 * * ?</value> 
		</property>
	</bean>
	
	<bean id="downloadCjmxTrigger1"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="downloadCjmxDetail" />
		</property>
		<property name="cronExpression">
 			<value>20 0 13 * * ?</value> 
		</property>
	</bean>
	
	<bean id="downloadPerDayTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="downloadPerDayDetail" />
		</property>
		<property name="cronExpression">
			 <value>0 0 18 * * ?</value> 
		</property>
	</bean>

	<!-- 配置方法调用任务工厂(XXXJobDetailFactoryBean) -->
	<bean id="downloadBaseDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="downloadBase" />
		</property>
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	<bean id="downloadBaseDetail1"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="downloadBase" />
		</property>
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	<bean id="downloadDetailDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="downloadDetail" />
		</property>
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	<bean id="downloadDetailDetail1"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="downloadDetail" />
		</property>
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	<bean id="downloadCjmxDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="downloadCjmx" />
		</property>
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	<bean id="downloadPerDayDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="downloadPerDay" />
		</property>
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>

	<!-- 配置自定义的时间任务(Job) -->
    
    <!-- 注册定时器  -->
   <!--  <task:scheduled-tasks> 
    	<task:scheduled ref="downloadBase" method="execute" cron="30 25 10 * * *"/> 
    	<task:scheduled ref="downloadBase" method="execute" cron="50 10 13 * * *"/>
    	<task:scheduled ref="downloadDetail" method="execute" cron="30 25 10 * * *"/> 
    	<task:scheduled ref="downloadDetail" method="execute" cron="30 10 13 * * *"/> 
    	<task:scheduled ref="downloadPerDay" method="execute" cron="5 20 17 * * *"/>
    	<task:scheduled ref="downloadCjmx" method="execute" cron="5 40 17 * * *"/>
	</task:scheduled-tasks>  -->
    

</beans>